body {
    font-family: "Roboto", "Raleway", sans-serif;
    color:#2E2F42;
    background-color: #FFF;
}

/* скидання дефолтного підкреслення */
.link {
    text-decoration: none;
}

/* скидання маркерів у списках */
ul {
    list-style-type: none;
}
