/**_______________COLOR______________ */
:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

/**___________Повторяющее елементи____________ */
.body {
    font-family: "Roboto", sans-serif;
    color: var(--text);
}

.link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

span {
    color: var(--primary-brand)
}



/**____________header_________________*/
.header {
    background: var(--white-background);
}

.nav-menu .link {
    color: var(--dark);
    text-transform: uppercase;

}

.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 11.667;
    /* 21/18 */
    letter-spacing: 0.03em;
    /* 0.54/18 */
    text-transform: uppercase;
}


.menu-items {
    color: var(--dark);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
    /* 24/16 */
    letter-spacing: 0.02em;
    /* 0.32/16 */
}

.contact-list .link {
    color: var(--text);
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    /* 24/16 */
    letter-spacing: 0.02;
    /* 0.32/16 */
}

.link:hover,
.link:focus {
    color: var(--pressed-state);
    text-decoration-line: underline;
}

/*?___________Body_________________________ */
/* секция 1 */
.hero-section {
    color: var(--white-background);
    text-align: center;
    background: var(--hero-background);
}

.hero-title {
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 60/56 */
    letter-spacing: 0.02em;
    /* 1.12/56 */
}

.hero-button {
    color: var(--white-background);
    background-color: var(--primary-brand);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
    /* 24/16 */
    letter-spacing: 0.04em;
    /* 0.64/16 */

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer
}


.hero-button .link:hover,
.hero-button .link:focus {
    color: var(--pressed-state);
    text-decoration-line: underline;
}

/* ___________секция 2____________ */


.feature-list {}

.feature-item {}

.feature-subtitle {
    color: var(--modal-overlay);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20%;
    /* 24/20 */
    letter-spacing: 0.02em;
    /* 0.4/20 */
}

.feature-text {
    color: var(--text);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    /* 24/16 */
    letter-spacing: 0.02em;
    /* 0.32/16 */
}

/*____________секция 3___________*/

.what-title {
    color: var(--modal-overlay);
    text-align: center;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    /* 40/36 */
    letter-spacing: 0.02em;
    /* 0.72/36 */
    text-transform: capitalize;
}

.what-list {}

.what-img {}

/*____________секция 4  ___________*/

.team-section {
    background-color: var(--light);
}

.team-title {
    color: var(--dark);
    text-align: center;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 40/36 */
    letter-spacing: 0.02em;
    /* 0.72/36 */
    text-transform: capitalize;
}

.team-list {
    background-color: var(--white-background)
}

.team-item {}

.team-image {
    text-align: center;
}

.team-name {
    color: var(--dark);
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20;
    /* 24/20 */
    letter-spacing: 0.02em;
    /* 0.4/20 */
}

.team-role {
    color: var(--text);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    /* 24/16 */
    letter-spacing: 0.02em;
    /* 0.32/16 */
}

/*?___________footer_________________________ */
.footer {
    color: var(--light);
    background: var(--hero-background);
}

.footer-nav-menu {
    text-transform: uppercase;
}

.logo {
    color: var(--light);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.1;
    /* 21/18 */
    letter-spacing: 0.03em;
    /* 0.54/18 */
    text-transform: uppercase;
}


.footer-text {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    /* 24/16 */
    letter-spacing: 0.02em;
    /* 0.32/16 */
}

/* !____________Poptfolio____________________ */

.Portfoliofon {
    background-color: var(--white-background);
}

/*?___________кнопки на портфолио_________________________ */


.nav-button-all {
    color: var(--white-background);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 24/16 */
    letter-spacing: 0.04em;
    /* 0.64/16 */

    border-radius: 4px;
    background: var(--pressed-state);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.nav-button link {
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 24/16 */
    letter-spacing: 0.04em;
    /* 0.64/16 */

    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
}

.nav-button-bll {
    color: var(--primary-brand);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--light);
}

/*?___________ список 9 штук_________________________ */

.exemplo-list {
    list-style: none;

}

.team-image link {}

.exemplo-title {
    color: var(--dark);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20;
    /* 24/20 */
    letter-spacing: 0.02em;
    /* 0.4/20 */
}

.exemplo-text {
    color: var(--text);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 24/16 */
    letter-spacing: 0.02em;
    /* 0.32/16 */

}